.home {
  display: block;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.hero {
  display: block;
  align-items: center;
  text-align: center;
  margin-top: 37vh;
  margin-bottom: 50vh;
  color: #f9fafb;
}

.hero-arrow {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-arrow svg {
  width: 20px;
  height: 20px;
  color: #000000; /* red-ish */
  stroke-width: 1.5;
  animation: arrow-bounce 1.6s infinite;
}
@keyframes arrow-bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
.hero-name h5 {
  margin-bottom: 0px;
  font-size: 15px;
}
.hero p {
  margin-top: 0px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
  color: #f9fafb;
}

.hero a {
  margin-top: 0px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
  text-decoration: none;
  color: #f9fafb;
}

.hero-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about-me-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5rem;
  padding: 6rem 4rem;
  border-radius: 20px;
  max-width: 1100px;
  margin: 15vh auto;
  color: #f9fafb;
  font-family: "Inter", sans-serif;
}

.about-left {
  flex: 1.2;
}

.about-left h5 {
  color: #f9fafb;
  font-size: 0.9rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.about-left h1 {
  font-size: 2.8rem;
  margin-bottom: 1.5rem;
  color: #f9fafb;
}

.highlight {
  color: rgb(0, 113, 227);
}

.about-info {
  list-style: none;
  padding: 0;
  margin: 1.5rem 0 2.5rem 0;
}

.about-info li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 0.8rem;
  font-size: 1rem;
  color: rgb(156, 163, 176);
  font-family: "Inter", sans-serif;
}

.info-icon {
  color: #e5e7eb;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.about-left p {
  line-height: 1.6;
  margin-bottom: 2rem;
  color: #f9fafb;
  font-family: "Inter", sans-serif;
  font-size: 20px;
}

.about-buttons {
  display: flex;
  gap: 1rem;
}

.about-right {
  flex: 1;
}

.about-right h3 {
  margin-bottom: 1rem;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 0.8rem;
  margin-bottom: 2rem;
}

.skills-grid span {
  background-color: #f9fafb;
  border-radius: 10px;
  padding: 0.6rem 1rem;
  text-align: center;
  font-size: 0.9rem;
  transition: background 0.3s ease;

  color: #000000;
}

.skills-grid span:hover {
  background: rgb(0, 113, 227);
  color: #fff;
}
.cert-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cert-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 12px;
  transition: transform 0.3s ease, background 0.3s ease;
  border: 1px solid rgb(31, 41, 55);
}

.cert-item:hover {
  background: #2424243f;
  transform: translateY(-3px);
}

.cert-badge {
  width: 55px;
  height: 55px;
  object-fit: contain;
  border-radius: 8px;
  background-color: #fff;
  padding: 5px;
}

.cert-item strong {
  font-size: 1rem;
  color: #f9fafb;
  font-family: "Inter", sans-serif;
}

.cert-item p {
  color: #d1d5db;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  margin: 0.2rem 0 0 0;
}

.end-directory {
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
  margin-bottom: 20vh;
}

.end-directory h1 {
  text-align: center;
  font-size: 30px;
}
.end-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.end-links p {
  margin-top: 0px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
}

.end-link {
  margin-top: 0px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
  text-decoration: none;
}
