.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #9ca3b0;
  max-width: 1100px;
  margin: 0 auto;
  padding: 5rem 2rem;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

.link {
  color: #9ca3b0;
  text-decoration: none;
}
