.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(0deg, rgba(3, 7, 17, 0) 0%, rgb(3, 7, 17) 50%);
  z-index: 1000;
  padding: 15px 0;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2rem;
}

.navbar-brand a {
  color: #f9fafb;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 35px;
  background-color: #e6e6e64d;

  border-radius: 30px;
  padding: 15px 30px;
  border: 1px solid rgba(0, 0, 0, 0.425);
  box-shadow: 0px 3px 5px #999;
}

.nav-link {
  color: #f9fafb;
  text-decoration: none;
}
