.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(0deg, rgba(3, 7, 17, 0) 0%, rgb(3, 7, 17) 50%);
  z-index: 1000;
  padding: 40px 0;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", sans-serif;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2rem;
}

.navbar-brand a {
  color: #f9fafb;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 35px;
}

.nav-link {
  text-decoration: none;
  color: rgb(156, 163, 176);
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  padding: 6px 0px;
  gap: 8px;
  transition: color 150ms ease, transform 150ms ease;
}

.nav-link:hover {
  color: #f9fafb;
  transform: translateY(-3px);
}

.info-icon-nav {
  width: 16px;
  height: 16px;
  flex: 0 0 16px;
  display: inline-block;
}
