.portfolio {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  justify-content: left;
  font-size: 24px;

  max-width: 1000px;
  margin: 10vh auto;
  padding: 0 2rem;
}


.portfolio p{
  font-size:16px;
}